* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 2;
  font-size: 2.5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  height: 25vh;
  background-color: #e9f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.container {
  display: flex;
}

.logo {
  width: 120px;
  height: 110px;
}

nav {
  display: flex;
  margin-left: 2%;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 0 3%;
  font-size: 2.6rem;
  margin: 0 1%;
}
